@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>📚 Community Library Desk</h1>
    <p>Manage books, members and loans efficiently.</p>
</div>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card p-3">
            <h3>Books</h3>
            <a asp-controller="Books" asp-action="Index" class="btn btn-dark">Open</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h3>Members</h3>
            <a asp-controller="Members" asp-action="Index" class="btn btn-dark">Open</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h3>Loans</h3>
            <a asp-controller="Loans" asp-action="Index" class="btn btn-dark">Open</a>
        </div>
    </div>

</div>
